html body {
    margin: 0px;
    position: relative;
    font-family: sans-serif;
    background: #212121;
}

.gs-hero-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/gabe.jpg);
    background-attachment: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    font-family: 'futura-pt', sans-serif;
    font-weight: 400;
    font-style: normal;
    user-select: none;
}

.gs-navbar {
    background: #212121;
}

.gs-ccinfo {
    background: #212121;
    color: #fff;
}

.gs-ccinfo a {
    color: rgba(255, 255, 255, 0.55);
    text-decoration: none;
    transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s;
}

.gs-ccinfo a:hover {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
}

.gs-content h1{
    font-family: 'futura-pt', sans-serif;
    font-weight: 400;
    font-style: normal;
    user-select: none;
}

#filmstudent{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/filmstudent.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#webdev{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/webdev.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#guitarist{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/guitarist.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}